.footer {
    display: flex;
    justify-content: space-between;
  //  position:absolute;
    bottom:0;
    width:100%;
    padding: 3rem 0 0 0;
    height: 200px;
}

.logo_social:hover {
  width: 52px;
  height: 52px;
}