
<div class="footer background navbar navbar-expand-lg navbar-light">
  <div class="logoTitle">
    <p class="logoName">C.M.P</p>
    <p class="subtitleLogoName">Création de Meubles en Palettes</p>
    <p class='signature'>By Philippe Perrin</p>
  </div>
 
    <address>
        <strong>
            40, boulevard du Général De Gaulle<br />
            Les Alpilles<br />
            69600 OULLINS
        </strong>
    </address>
    <div class='reseau_social'>
        <p>Suivez-moi sur :</p>
            <a href="#"><img class='logo_social' src="/images/facebook.png"></a>
            <a href="#"><img class='logo_social' src="/images/instagram.png"></a>
            <a href="#"><img class='logo_social' src="/images/pinterest.png"></a>
        </div>
    </div>
</div>