<div class="headerLogo">
  <div class="logoTitle">
    <p class="logoName">C.M.P</p>
    <p class="subtitleLogoName">Création de Meubles en Palettes</p>
    <p class='signature'>By Philippe Perrin</p>
  </div>
  <div class="contactDetail">
    <div>
      <div class="contactMail">
        <img class="logoMail" src="/images/email.png" alt="logo mail">
        <p class="mail"><a href="mailto:philippeperrin1968@free.fr">philippeperrin1968@free.fr</a></p>
      </div>
      <div class="contactPhone">
        <img class="logoPhone" src="/images/smartphone.png" alt="logo smartphone">
        <p class="phone"><a href="tel:+33652143530">06 52 14 35 30</a></p>
      </div>
    </div>
  </div> 
     
</div>
  
<nav class="background navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='/realisations'>Mes réalisations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='/contact'>Contact</a>
      </li>
  	</ul>
  </div>
</nav>