<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	{{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>      
        <header>
          {% include '_nav.html.twig' %}
        </header>
       
          {% block body %}{% endblock %}
       
        <footer class='footer'>
          {% include '_footer.html.twig' %}
        </footer>
        {% block javascripts %}{% endblock %}
      
    </body
</html>
